<html>
    <head>
        <title>E-Commerce</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <!-- partials -->
        <%- include("partials/header"); %>
        <div id="main-pop-div">
            <main id="main">
                <%products.forEach((product)=>{%>
                    <div class="card">
                        <div class="card-product-image">
                            <img class="product-img" name="<%=product.productDescription%>" src="<%=product.productImage%>">
                        </div>
                        <div>
                        <div class="card-product-name">
                            <h1><%=product.productName%></h1>
                        </div>
                        <h2><%=product.productPrice%></h2>
                        <!-- <div class="card-product-details-btn">
                            <button class="btn" value="<%=product.productDescription%>">Details</button>
                        </div> -->
                    </div>
                </div>
                <%})%>
            </main>
        </div>
        <form method="post" action="/">
            <button id="load-more" type="submit" name="lastCount" value="<%= curCount %>">Load More</button>
        </form>
        <script src="../js/script.js"></script>
    </body>

</html>